.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.headline {
  color: blue;
  margin-bottom: 30px;
  margin-top: 20px;
}

.board {
  width: 70vw;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.tile {
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile span {
  color: red;
  font-size: 70px;
}
