.headline {
  color: blue;
}

.board {
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.tiles {
  background-color: antiquewhite;
}
